/*
Name:			MyProblem
Description: 	Stylesheet for MyProblem
Version: 		1.0
Author: 		Patrick Keaveny and (hopefully) Tyson Reeder
Author URI: 	http://www.patrickkeaveny.com

*/

/* Reset is good, but not needed right now.
@import "reset.css";

*/

body {
	margin: 0;
	background-color: #fafafa;
}
a:hover {
	text-decoration: none;
}
.modal {
}

#header { 
	margin: 0 auto;
	text-align:center; 
	}
	
.red-alert {
	color:red;
	display:none;
}
input:focus, button:focus { outline: none; }
#problem {
	text-align:center;
	display:none;
}
h1.problem-title {
	margin: 10% auto 10px auto;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
}
input#main-button {
	margin: 0 auto;
}
input#problem-input {
	width: 50%;
	margin: 0 auto;
	padding:5px 10px;
	background: #d5cdcb;
	border-radius: 100px;
	border: 1px solid white;
}
button {
	width:100px;
    height:100px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 50%;
    font-size:16px;
    display:inline-block;
	margin: 0 auto;
    text-align:center;
}
input#problem-input:focus {
    outline: 2px solid white;
}
button#submit-problem {
    background: #ec5832;
    color:white;   
}
form#anonymous-check {
	text-align:left;
	width:50%;
	margin:0 auto;
}
input[type="checkbox"] {
    display:none;
}
#anonymous + label {
    display:inline-block;
    width:50%;
    height:auto;
    padding: 0px 0px 0px 20px;
	vertical-align: middle;
    background:url(images/checkbox.png) left center no-repeat;
    cursor: pointer;
    text-transform:uppercase;
}
table#buttons-table  {
	
}
form#email-form input {
	width:250px;
}
#problem-buttons {
	margin-left:-175px;
	text-align:center;
}
#problem-buttons h4 {
	margin:0px;
	padding: 0px;
}
#problem-buttons hr {
	margin:0px;
	padding: 0px;
}
#problem-buttons button {
	width: 50px;
	height: 50px;
	font-size: 12px;
	display:block;
	margin: 0 auto;
	vertical-align:center;
	text-align:center;
}
#problem-buttons button.today {
	background: #ec5832;
    color:white;    
}
#problem-buttons button.this-week {
	background: #f3cb85;
    color:white;    
}
#problem-buttons button.this-month {
	background: #161235;
    color:white;    
}
#problem-buttons button.all {
	background: #3daabf;
    color:white;    
}
#display-problems table thead {
	text-align: left;
}
#display-problems table tbody {
	font-size: 16px;
}
#site-footer {
	width: 100%;
	height: auto;
	margin: 0px auto;
	padding: 50px 0px;
	text-align: center; }
 
	#site-footer li {
		width: 40%;
		height: 500px;
		margin: 0 auto;
		padding: 0;
		display:inline-block;
		vertical-align: top;
		font-size: 14px;
	}
 
	#site-footer h1 {
		color: grey;
		width: 100%;
		font-size: 24px;
		padding: 0;
		margin: 0; 
		text-align: center;}
		
a.email-cell {
	border: 1px solid white;
    border-radius: 100px;
    padding: 5px 20px;
    color:white;
    background-color: #d5cdcb;
    vertical-align:center;
}
a.email-cell:hover {
    background-color: #3daabf;
    color:white;
    text-decoration: none;
}
.fixed {
	position: fixed;
}
.hidden {
	display:none;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.opacity { 
	opacity: 1;
	pointer-events: auto; 
}
